<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @cocktail, class: 'form-inline' do |f| %>
        <%= f.label :name, "Enter a name" %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :photo %>
        <%= f.file_field :photo, as: :attachinary %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
